doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Frontend Mentor | Challanges
  body
    ul
      li
        a(href="static-job-listings-master/index.pug") Job listings with filtering
      li
        a(href="room-homepage-master/index.pug") Room homepage
