doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="index.scss")
    title Frontend Mentor | Profile card component
  body
    .card-wrapper
      .card
        .card-header
        img.profile-image(src="./images/image-victor.jpg")
        p.name
          | Victor Crest
          span.age 26
        p.city London
        .divider
        .stats
          div
            p.title 80K
            p.subtitle Followers
          div
            p.title 803K
            p.subtitle Likes
          div
            p.title 1.4K
            p.subtitle Photos
